.row {
  margin-left: 20px;
  color: #fff;
  transition: 2000ms;
}

.row_posters {
  display: flex;
  flex-wrap: nowrap !important;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  transition: 2000ms;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-width: 175px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-width: 200px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
